In [7]:
import numpy as np
import pandas as pd
import itertools

pd.set_option("display.max_rows", None)

In [186]:
df_2020_21 = pd.read_csv("league_2020_21.csv")

In [187]:
def df_for_league_table(df):    
    # get home score
    df["home_score"] = df["Score"].apply(lambda x: x.split('–')[0]).astype(int)
    
    # get away score
    df["away_score"] = df["Score"].apply(lambda x: x.split('–')[1]).astype(int)
    
    # get goal difference
#     df["diff_score"] = df["home_score"] - df["away_score"]
    
    # make final df
    df = df[["Home", "home_score", "Away", "away_score"]].copy()
    
    return df

In [188]:
df_2020_21 = df_for_league_table(df_2020_21)

In [189]:
df_2020_21.head()

         Home  home_score           Away  away_score
0       Eibar           0     Celta Vigo           0
1     Granada           2  Athletic Club           0
2       Cádiz           0        Osasuna           2
3      Alavés           0          Betis           1
4  Valladolid           1  Real Sociedad           1

In [235]:
def compute_points(x, team):
    home, home_score, away, away_score = x
    diff = home_score - away_score
    
    if home == team:
        gf, ga = home_score, away_score
        
        if diff > 0:
            point, gd = 3, 1
        
        elif diff < 0:
            point, gd = 0, 1
        
        else:
            point, gd = 1, 0
        
    elif away == team:
        gf, ga = away_score, home_score
        
        if diff < 0:
            point, gd = 3, -1
        
        elif diff > 0:
            point, gd = 0, -1
            
        else:
            point, gd = 1, 0        

    return point, gf, ga, diff*gd

In [236]:
# def compute_points(x, team):
#     home, diff, away = x
#     gd = 1
    
#     if home == team and diff > 0:
#         point = 3
#     elif away == team and diff < 0:
#         point, gd = 3, -1
#     elif diff == 0:
#         point = 1
#     else:
#         if away == team:
#             gd = -1
#         point = 0
        

#     return point, diff*gd

In [237]:
def swap_rows(df, idx_1, idx_2):
    b, c = df.iloc[idx_1].copy(), df.iloc[idx_2].copy()
    df.iloc[idx_1], df.iloc[idx_2] = c, b
    
    return df

In [252]:
def break_the_tie(df, table, team_1, team_2):
    # fetch the home and away result
    results = df.loc[
        (
            (df["Home"] == team_1) &
            (df["Away"] == team_2)
        ) |
        (
            (df["Home"] == team_2) &
            (df["Away"] == team_1)
        )
    ]
    
    # lambda functions to get score, index and goal-difference
    get_score = lambda team: results.loc[results["Home"] == team, "home_score"].values[0] + results.loc[results["Away"] == team, "away_score"].values[0]
    get_index = lambda team: table.loc[table["team"] == team].index[0]
    get_gd = lambda team: table.loc[table["team"] == team, "goal_diff"].values[0]
    
    # fetch the score
    team_1_score = get_score(team_1)
    team_2_score = get_score(team_2)
    
    # fetch the index
    idx_1, idx_2 =  get_index(team_1), get_index(team_2)
    
    # swap if conditions are True
    if team_1_score > team_2_score and idx_1 > idx_2:
        # check head-to-head
        table = swap_rows(table, idx_1, idx_2)
    
    elif team_2_score > team_1_score and idx_2 > idx_1:
        # check head-to-head
        table = swap_rows(table, idx_2, idx_1)
    
    elif team_1_score == team_2_score:
        # check goal-difference
        team_1_gd = get_gd(team_1)
        team_2_gd = get_gd(team_2)
        
        if team_1_gd > team_2_gd and idx_1 > idx_2:
            table = swap_rows(table, idx_1, idx_2)
        elif team_2_gd > team_1_gd and idx_2 > idx_1:
            table = swap_rows(table, idx_2, idx_1)
    
    return table

In [253]:
def make_league_table(df):
    # init empty dict
    league_table = dict()

    # fetch all the teams
    teams = df["Home"].unique()
    
    # iterate and calculate the points
    for team in teams:
        temp_df = df.loc[
            (df["Home"] == team) |
            (df["Away"] == team)
        ]

        # get points, gf, ga & gd
        values = np.array(list(temp_df.apply(lambda x: compute_points(x, team), axis=1).values))
        
        # add the values to dict
        league_table[team] = dict(
            points=sum(values[:, 0]),
            gf=sum(values[:, 1]),
            ga=sum(values[:, 2]),
            goal_diff=sum(values[:, 3]),
        )
    
    # make dataframe
    table = pd.DataFrame(league_table).T

    # set and reset index
    table.index = table.index.set_names(["team"])
    table = table.reset_index()

    # sort the values
    table = table.sort_values(by="points", ascending=False).reset_index(drop=True)

    # init empty list
    tie_teams = []
    
    # get the teams that are tied
    for point in table["points"].unique():
        temp_points = table.loc[table["points"] == point]

        if len(temp_points) > 1:
            two_teams = list(
                itertools.combinations(
                    temp_points["team"].unique(), 2
                )
            )
    
            for team_1, team_2 in two_teams:
                table = break_the_tie(df, table, team_1, team_2)
    
    return table

1) Make code more optimized.

2) No use of gf & ga, remove them

3) gf, ga, mp, l, w and last 5

In [254]:
make_league_table(df_2020_21)

               team  points  gf  ga  goal_diff
0   Atlético Madrid      86  67  25         42
1       Real Madrid      84  67  28         39
2         Barcelona      79  85  38         47
3           Sevilla      77  53  33         20
4     Real Sociedad      62  59  38         21
5             Betis      61  50  50          0
6        Villarreal      58  60  44         16
7        Celta Vigo      53  55  57         -2
8           Granada      46  47  65        -18
9     Athletic Club      46  46  42          4
10          Osasuna      44  37  48        -11
11            Cádiz      44  36  58        -22
12         Valencia      43  50  53         -3
13          Levante      41  46  57        -11
14           Getafe      38  28  43        -15
15           Alavés      38  36  57        -21
16            Elche      36  34  55        -21
17           Huesca      34  34  53        -19
18       Valladolid      31  34  57        -23
19            Eibar      30  29  52        -23